
.bg{background: url(../images/header.png)}
.active{background: #6c0709}
#top{width: 1224px;height: 37px;border: 1px solid #ededed ;background: #f7f7f7;margin: 0 auto}
#top .t-l{float: left;margin-left:1px;width: 79px}
#top .t-l a{display:inline-block; font:11px/37px "";color: #666}
#top .t-r{float: right;}
#top .t-r span{font:11px/37px "";color: #666;cursor: pointer;}
#top  i{display: inline-block;vertical-align:middle;}
#top i.i1{width: 16px;height: 14px;background-position: -1px 0; }
#top i.i2{width: 7px;height: 6px;background-position: -732px -7px; }
#top i.i3{width: 10px;height: 16px;background-position: -762px 0px; }
#top i.i4{width: 15px;height: 14px;background-position: -859px -1px; }
#top i.i5{width: 59px;height: 16px;background-position: -1140px 0px; }
#top .t-r .login{font-size:12px;margin: 0 5px 0 19px;cursor: pointer;color: #06c}
#top .t-r .register{margin-right: 3px;cursor: pointer;font-size:12px;color: #06c}
#top .t-r em{ font-style:normal  ;margin:0 10px;color: #c5c4c4}

#nav{height: 40px;margin: 0 auto;width: 1224px;background: #a71b1b;}
#nav .n-l{width: 190px;margin-left:12px;float: left;}
#nav .n-l .n-l-t{color:white;background: #b82424; cursor: pointer;}
#nav .n-l .n-l-t span{font: 14px/40px "";margin-left: 10px}
#nav .n-l .n-l-t i{background: url(../images/nav.png);text-align: center;display: inline-block;}
#nav .n-l .n-l-t i.i1{width: 16px;height: 14px;background-position: -16px -12px;margin-left: 16px;}
#nav .n-l .n-l-t i.i2{width: 12px;height: 12px;background-position: -162px -13px;margin-left: 32px;}




#nav .n-r{float: left;}
#nav .n-r li{float: left;font: 13px/40px "";color:#fff;text-align: center;width: 100px;cursor: pointer;}
#nav .n-r li:hover{background: #6c0709}












#main{width: 1224px;min-height: 500px;border: 1px solid #ededed ;background: #f7f7f7;margin: 0 auto 50px;cursor: pointer;}
#main .main{margin: 0 auto; width: 1100px;min-height: 500px;margin-top: 30px;border: 1px solid #000;}
/* 
#main .top .form{margin: 0 auto}
#main .top tr{text-align: center;margin-top:100px} */
#main  ul{width: 1000px;margin: 0 auto;}
#main .top{overflow: hidden;}
#main .top ul li{float: left;margin-right: 100px}
#main .top ul li:nth-child(3){margin-right:165px }
#main .top ul li:last-child{margin-right:0px }
#main .load {margin-top: 20px;overflow: hidden;height: 80px;}
#main .load ul li{width:50px;float: left;margin-right: 80px}
#main .load ul li:nth-child(1){float: left;margin-right: 50px;width:70px}
#main .load ul li:nth-child(2){float: left;margin-right: 50px;width:50px}
#main .load ul li:nth-child(3){float: left;margin-right: 50px;width:200px}
#main .load ul li:nth-child(5){margin-right: 60px;width: 80px}
/* #main .load ul li:nth-child(3){float: left;margin-right: 50px;width:200px} */
#main .load ul li img{width: 70px;height: 70px;}
#main .load ul li p{width: 200px;font-size: 12px;color: #333;}
#main .load ul li .cont{width: 50px;float: left;}
#main .load ul li button{float: left;}





















#footer{ width:1224px; height:138px;text-align:center;background:#000;font:12px/30px "";margin:0 auto ;margin-top: 50px;}
#footer .f-t{font:12px;padding-top:21px;}
#footer .f-t a{color:#7a7a7a;}
#footer .f-t span{color:#7a7a7a;margin:0 10px;}
#footer p{color:#7a7a7a;}