.bg{background: url(../images/header.png)}
.active{background: #6c0709}
#top{width: 1224px;height: 37px;border: 1px solid #ededed ;background: #f7f7f7;margin: 0 auto}
#top .t-l{float: left;margin-left:1px;width: 79px}
#top .t-l a{display:inline-block; font:11px/37px "";color: #666}
#top .t-r{float: right;}
#top .t-r span{font:11px/37px "";color: #666;cursor: pointer;}
#top  i{display: inline-block;vertical-align:middle;}
#top i.i1{width: 16px;height: 14px;background-position: -1px 0; }
#top i.i2{width: 7px;height: 6px;background-position: -732px -7px; }
#top i.i3{width: 10px;height: 16px;background-position: -762px 0px; }
#top i.i4{width: 15px;height: 14px;background-position: -859px -1px; }
#top i.i5{width: 59px;height: 16px;background-position: -1140px 0px; }
#top .t-r .login{font-size:12px;margin: 0 5px 0 19px;cursor: pointer;color: #06c}
#top .t-r .register{margin-right: 3px;cursor: pointer;font-size:12px;color: #06c}
#top .t-r em{ font-style:normal  ;margin:0 10px;color: #c5c4c4}

#header{height: 99px;width:1224px;margin: 0 auto;}

#header .h-l{float: left;width: 303px;}
#header .h-l a{display: inline-block;margin-left: 12px;margin-top: 12px}
#header .h-c{float: left;width: 533px}
#header .h-c .form{margin-top: 22px;}
#header .h-c .txt{float:left;width: 457px;height: 30px;border: 3px solid #c7181d;border-right: none;margin: 0;padding: 0}
#header .h-c .sub{float: left; height: 36px;width: 73px;background: #c7181d;border: none;}
#header .h-c p a{font: 11px/29px "";color: #666;}
#header .h-c p a.red{color:#d55a5a}
#header .h-c p a:hover{text-decoration:underline}

#header .h-r{float: left;width: 160px;border: 1px solid #bdbdbd;margin-left: 216px;height: 36px;margin-top:22px;}

#header .h-r em{font-style: normal;color: #c5c4c4;display: inline-block;margin: 0 11px}

#header .h-r span{font: 12px/34px "";}

#header .h-r i{background: url(../images/car.png);text-align: center;display: inline-block;}
#header .h-r i.i1{width: 16px;height: 15px;background-position: 0 0;margin-left: 11px;margin-right: 5px;}
#header .h-r i.i2{width: 7px;height: 6px;background-position: -131px -5px;margin: 0 11px}

#nav{height: 40px;margin: 0 auto;width: 1224px;background: #a71b1b;}
#nav .n-l{width: 190px;margin-left:12px;float: left;position: absolute;}
#nav .n-l .n-l-t{color:white;background: #b82424; cursor: pointer;}
#nav .n-l .n-l-t span{font: 14px/40px "";margin-left: 10px}
#nav .n-l .n-l-t i{background: url(../images/nav.png);text-align: center;display: inline-block;}
#nav .n-l .n-l-t i.i1{width: 16px;height: 14px;background-position: -16px -12px;margin-left: 16px;}
#nav .n-l .n-l-t i.i2{width: 12px;height: 12px;background-position: -162px -13px;margin-left: 32px;}

#nav .n-l .ul{background: #f5f7f7;position: relative;z-index: 2;height: 470px;}
/* #nav .n-l .ul .li:hover{background: white} */
#nav .n-l .ul .li span{color:#333;font: 13px/36px "";margin-left: 10px;cursor: pointer;}
#nav .n-l .ul .li i{background: url(../images/nav2.png);text-align: center;display: inline-block;width: 16px;height: 16px;cursor: pointer;margin-left: 15px}
#nav .n-l .ul .li i.i1{background-position: 0 0;}
#nav .n-l .ul .li i.i2{background-position: 0 -36px;}
#nav .n-l .ul .li i.i3{background-position: 0 -72px;}
#nav .n-l .ul .li i.i4{background-position: 0 -108px;}
#nav .n-l .ul .li i.i5{background-position: 0 -144px;}
#nav .n-l .ul .li i.i6{background-position: 0 -180px;}
#nav .n-l .ul .li i.i7{background-position: 0 -216px;}
#nav .n-l .ul .li i.i8{background-position: 0 -252px;}
#nav .n-l .ul .li i.i9{background-position: 0 -288px;}
#nav .n-l .ul .li i.i10{background-position: 0 -324px;}
#nav .n-l .ul .li  i.i11{background-position: 0 -360px;}
#nav .n-l .ul .li i.i12{background-position: 0 -396px;}
#nav .n-l .ul .li i.i13{background-position: 0 -432px;}

#nav .ul .li .ban-nav{display: none; position: absolute;z-index: 5;height: 467px;width: 1010px;background: white;left: 190px;top: 0px}
#nav .ul .li  .ban-nav .b-l{width: 710px;height: 469px;padding-left: 25px;float: left;}
#nav .ul .li .ban-nav .b-l ul li{overflow: hidden} 
#nav .ul .li .ban-nav .b-l ul li .b-l-l{float: left;}
#nav .ul .li .ban-nav .b-l ul li h4{color: #333;font: 14px/34px "";margin-top: 10px;cursor: pointer;}
#nav .ul .li .ban-nav .b-l ul li .b-l-r{width: 576px;float: right;border-bottom: 1px solid #666;margin:10px 0 0 55px;padding-bottom: 5px;}
#nav .ul .li .ban-nav .b-l ul li .b-l-r p{float: left; padding: 0 10px;float: left;font: 12px/24px "";color: #666;margin: 0 5px 0 0;cursor: pointer;}
#nav .ul .li .ban-nav .b-l ul li .b-l-r p:hover{color:red;text-decoration:underline}
#nav .ul .li .ban-nav .b-r{width: 275px;height: 455px;float: left;}
#nav .ul .li .ban-nav .b-r a{display: block;float: left;}
#nav .ul .li .ban-nav .b-r a img{display: block;float: left;}
#nav .n-r{float: left;margin-left: 200px}
#nav .n-r li{float: left;font: 13px/40px "";color:#fff;text-align: center;width: 100px;cursor: pointer;}
#nav .n-r li:hover{background: #6c0709}

#float {display:none;background: rgba(255,255,255,.8);border-bottom: 1px solid #d5d5d5;z-index:5;height: 50px;width: 1224px;position: fixed;top:0;}
#float .h-l{float: left;width: 303px;margin-left: 20px;}
#float .form{margin-top: 22px;float: left;margin: 0 auto}
#float .txt{float:left;width: 457px;height: 30px;border: 3px solid #c7181d;border-right: none;margin: 0;padding: 0}
#float .sub{float: left; height: 36px;width: 73px;background: #c7181d;border: none;}


#banner{height:467px;width: 1224px;margin: 0 auto;position: relative;overflow: hidden;cursor: pointer;}
#banner .ul1 li{position: absolute;top: 0;left:1220px;}
#banner .ul1 li:nth-child(1){left:0}
#banner .ul1 li .banner{position: relative;height:467px;width: 1224px;}

#banner ul li .banner p{height: 470px;width: 12px;background: #fcf7de;float: left;}
#banner ul li .banner  img{float: left;height: 467px;margin: 0 auto}
#banner ul li .banner span{height: 469px;width: 19px;background: #fcf7de;float: right;}

#banner ul li .ban{position: absolute; top: 9px;right: 19px}
#banner ul li .ban .ban1 {background: #f7fcff;margin-bottom: 6px}
#banner ul li .ban  img{width: 266px;height: 145px;}
#banner .list .span{text-align: center; display: inline-block; width: 20px;height: 20px;background: white;border-radius: 50%;position: relative;z-index: 3;font-style: normal;cursor: pointer;top: 430px;left: 800px;;margin: 0 10px}

#main{width:1224px;background: #f3f4f6;margin:0 auto}
#main .tab{height: 338px;padding:20px 13px 0 13px;}
#main .tab .tab-index{height: 52px;}
/* #main .tab .tab-index ul{background: red} */
#main .tab .tab-index ul {overflow: hidden;}
#main .tab .tab-index ul li{width: 211px;height: 51px;float: left;text-align: center;cursor: pointer;}
#main .tab .tab-index ul li span{font:15px/50px "";}
#main .tab .tab-index ul li i{background: url(../images/tabb.png) no-repeat;display: inline-block;width: 25px;height: 25px;cursor: pointer;vertical-align: middle}
#main .tab .tab-index ul li i.i1{background-position: -25px 0;}
#main .tab .tab-index ul li i.i2{background-position: -50px 0;}
#main .tab .tab-index ul li i.i3{background-position: -105px 0;}
#main .tab .tab-items{height: 285px;background: white;width: 100%;border-top:1px solid #f1f0ec; }
/* #main .tab .tab-items ul{} */
#main .tab .tab-items ul li{width: 238px;height: 279px;border-right: 1px solid #f1f0ec;text-align: center;cursor: pointer;float: left;position: relative;}
#main .tab .tab-items ul li:last-child{border-right: none;}
#main .tab .tab-items ul li img{width: 200px;height: 200px;}
#main .tab .tab-items ul li a{color:#666}
#main .tab .tab-items ul li p{width: 100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-size: 14px;margin-top: 5px;}
#main .tab .tab-items ul li span{margin-left: 4px;font-size: 18px;font-family:"microsoft yahei";margin-top: 10px;display: block;color: red;}

#main .main-nav{height: 170px;padding-left: 13px}

#main .main-nav ul{margin-top: 20px}
#main .main-nav ul li{float: left;margin-right: 12px}
#main .main-nav ul img{width:390px;height: 130px;}

#main .slide-item{padding-left: 13px;height: 415px;}
#main .slide-item ul{height: 100%}
#main .slide-item ul .li1{height: 100%; width:370px;float: left;margin-right: 13px;background: white;padding: 0 10px}
#main .slide-item ul .li1:last-child{margin: 0}
#main .slide-item ul .li1 .title{height: 55px;line-height: 55px}
#main .slide-item ul .li1 .title h3{color:#333;float: left;font-size: 20px;font-weight: normal}
#main .slide-item ul .li1 .title span{float: right;}
#main .slide-item ul .li1 .content{overflow: hidden;position: relative;width: 370px;height: 355px;}
#main .slide-item ul .li1 .content img{position: absolute;left:370px;width: 370px;}
#main .slide-item ul .li1 .content img:nth-child(1) {left: 0;}
#main .slide-item ul .li1 .content .list .span{text-align: center; display: inline-block; width: 20px;height: 20px;background: white;border-radius: 50%;position: relative;z-index: 3;font-style: normal;cursor: pointer;top: 430px;left: 800px;;margin: 0 10px}

#main .slide-item ul .li1 .title-content{overflow: hidden; position: relative;width: 370px;height: 355px;}
#main .slide-item ul .li1 .title-content li{position: absolute;left:390px;width: 390px;}
#main .slide-item ul .li1 .title-content li:nth-child(1){left: 0;}
#main .slide-item ul .li1 .title-content li .list .span{text-align: center; display: inline-block; width: 20px;height: 20px;background: white;border-radius: 50%;position: relative;z-index: 3;font-style: normal;cursor: pointer;}

#main .slide-item ul .li1 .title-content1{overflow: hidden; position: relative;width: 370px;height: 355px;}
#main .slide-item ul .li1 .title-content1 li{position: absolute;left:390px;width: 390px;}
#main .slide-item ul .li1 .title-content1 li:nth-child(1){left: 0;}
#main .slide-item ul .li1 .title-content1 li .list .span{text-align: center; display: inline-block; width: 20px;height: 20px;background: white;border-radius: 50%;position: relative;z-index: 3;font-style: normal;cursor: pointer;}

#main .reward{height: 130px;margin:30px 0 0 0px;cursor: pointer;}
#main .reward img{margin: 0 auto;display: block;width: 1200px;}

#display{width:1224px;background: #f3f4f6;margin:0 auto;overflow: hidden;}

#display .top{height: 40px;padding-bottom: 1px;margin-right: 2px;padding-left: 13px;margin-right: 13px;}
#display .top h1{display:block;color: tomato;margin: 0 10px 0 15px;font-size: 22px;font-weight: bolder;float: left;}
#display .top p a{color: #666;cursor: pointer;line-height: 16px;margin-left: 10px;}
#display .top p{display:block;float: left;margin-top: 12px;line-height: 16px;color: #666;font-size: 12px}
#display .top i{display: inline-block;width: 5px;margin-top: 3px;height: 25px;float:left;background: #ff7b30;font-style: normal;}
#display .top .link{float: right;margin-top: 12px;line-height: 16px;font-size: 14px;color: #333;}

#display .display{border-top: 2px solid #ff7b30;width:1200px;margin-left: 12px;overflow: hidden;cursor: pointer;}

/* #display .display .display2{overflow: hidden} */

#display .display .dl{height: 550px;width:270px;float: left;margin-right: 10px;}
#display .display ul li{height: 270px;width:222px;float: left;margin-bottom: 10px;margin-right: 10px;text-align: center;background: white}

#display .display ul li:last-child{margin-right: 0;}
#display .display ul li:nth-child(4) {margin-right: 0;}
#display .display ul li a{color:#666}
#display .display ul li p{width: 100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-size: 14px;margin-top: 5px;}
#display .display ul li span{margin-left: 4px;font-size: 18px;font-family:"microsoft yahei";margin-top: 10px;display: block;color: red;}

#gofor{width:1224px;background: #f3f4f6;margin:0 auto;overflow: hidden;}
#gofor h3{font:20px/60px "";text-align: center}
#gofor .gofor{margin: 0 auto;width: 1200px;}
#gofor .gofor ul{overflow: hidden;width: 110%;}
#gofor .gofor ul li{width: 230px;height: 310px;background: white;margin: 0 10px 10px 0;display: block;float: left;}
#gofor .gofor ul li img{width:200px;height: 200px;margin-top: 10px;margin: 10px 15px 0 15px}
#gofor .gofor ul li p{width: 100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-size: 14px;margin-top: 5px;text-align: center}
#gofor .gofor ul li span{margin-left: 4px;font-size: 18px;font-family:"microsoft yahei";margin-top: 10px;display: block;color: #c52e13;;}
#gofor .gofor ul li a{color:#666;float:left;display: block;font-size:12px;margin-top: 10px;margin-left: 10px;}
#gofor .gofor ul li a:first-child{width: 200px}
#gofor .gofor ul li a:last-child{float: right;margin-right: 15px}
#gofor h2{ font-size: 16px;color: #bbb;letter-spacing: 6px;height: 30px;line-height: 50px;background-image: url(../images/end.png);background-repeat: no-repeat;margin-left: 460px;}

#footer{width:1224px; height:138px;text-align:center;background:#000;font:12px/30px "";margin:0 auto;}
#footer .f-t{font:12px;padding-top:21px;}
#footer .f-t a{color:#7a7a7a;}
#footer .f-t span{color:#7a7a7a;margin:0 10px;}
#footer p{color:#7a7a7a;}
#floor{position: fixed;top:200px;cursor: pointer;left: 20px;z-index:10}
#floor ul{}
#floor ul li{margin-top: 20px;width: 40px;background: orange;color: white;font-weight: 700;text-align: center}